[tool.ruff]

# Exclude a variety of commonly ignored directories.
exclude = [
    ".eggs",
    ".git",
    "build",
    "dist",
]

# Same as Black.
line-length = 88

[tool.ruff.lint]
select = [
    "B", # flake8-bugbear
    "C4", # flake8-comprehensions
    #"D", # pydocstyle
    "E", # pycodestyle
    "F", # Pyflakes
    "G", # flake8-logging-format
    #"I", # isort
    "ISC", # flake8-implicit-str-concat
    "LOG", # flake8-logging
    #"N", # pep8-naming
    #"NPY", # modern numpy
    #"PERF", # Perflint
    "PIE", # flake8-pie
    "PYI", # flake8-pyi
    "RUF", # Ruff-specific rules
    "SIM", # flake8-simplify
    "SLOT", # flake8-slot
    "T10", # flake8-debugger
    #"TID", # Disallow relative imports
    #"TRY", # flake8-try-except-raise
    "UP", # pyupgrade
    "W", # pycodestyle
    "YTT", # flake8-2020
]

[tool.ruff.lint.per-file-ignores]
"**" = ["B905", "C401", "C408", "C413", "PYI041", "RUF012", "RUF100", "RUF010", "SIM108", "SIM910", "SIM110", "SIM102", "SIM114", "SIM103", "UP015", "UP027", "UP031", "UP034", "UP032", "UP006", "UP035", "UP007", "UP038"]
"**/plot*.py" = ["B018"]
"_doc/examples/plot_first_example.py" = ["E402", "F811"]
"_doc/examples/plot_onnxruntime.py" = ["E402", "F811"]
"onnx_array_api/array_api/_onnx_common.py" = ["F821"]
"onnx_array_api/graph_api/__init__.py" = ["F401"]
"onnx_array_api/light_api/__init__.py" = ["F401"]
"onnx_array_api/light_api/_op_var.py" = ["F821"]
"onnx_array_api/light_api/_op_vars.py" = ["F821"]
"onnx_array_api/annotations.py" = ["F821"]
"onnx_array_api/light_api/model.py" = ["F821"]
"onnx_array_api/translate_api/__init__.py" = ["F401"]
"onnx_array_api/npx/__init__.py" = ["F401", "F403"]
"onnx_array_api/npx/npx_functions.py" = ["F821"]
"onnx_array_api/npx/npx_functions_test.py" = ["F821"]
"onnx_array_api/npx/npx_tensors.py" = ["F821"]
"onnx_array_api/npx/npx_var.py" = ["F821"]
"onnx_array_api/profiling.py" = ["E731"]
"onnx_array_api/reference/__init__.py" = ["F401"]
"_unittests/ut_npx/test_npx.py" = ["F821"]

