autopep8
black
coverage
flake8
furo
isort
joblib
lightgbm
matplotlib
ml-dtypes
onnxmltools
onnxruntime
openpyxl
pandas
psutil
pyquickhelper
pytest
pytest-cov
rstcheck[toml,sphinx]
ruff
scikit-learn
skl2onnx
sphinx
sphinx-gallery
tqdm
wheel
xgboost
