autopep8
black
coverage
flake8
furo
google-re2
hypothesis
isort
joblib
lightgbm
matplotlib
ml-dtypes
git+https://github.com/onnx/onnxmltools.git
onnxruntime>=1.16.1
openpyxl
packaging
pandas
Pillow
psutil
pytest
pytest-cov
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
ruff
scikit-learn>=1.3.2
git+https://github.com/onnx/sklearn-onnx.git
sphinx
sphinx-gallery
tomli
tqdm
wheel
xgboost
