autopep8
black
coverage
flake8
furo
hypothesis
isort
joblib
lightgbm
matplotlib
ml-dtypes
onnxmltools
onnxruntime
openpyxl
packaging
pandas
psutil
pyquickhelper
pytest
pytest-cov
rstcheck[sphinx,toml]
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
ruff
scikit-learn
git+https://github.com/onnx/sklearn-onnx.git
sphinx
sphinx-gallery
tomli
tqdm
wheel
xgboost
